/* --HEADER E MAIN MENU-- */

/* @import "pesticide"; */

@font-face {
    font-family: "Bebas Neue", Helvetica, sans-serif;
    src: url("../fonts/BebasNeue-webfont.eot");
    src: url("../fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/BebasNeue-webfont.woff") format("woff"),
         url("../fonts/BebasNeue-webfont.ttf") format("truetype"),
         url("../fonts/BebasNeue-webfont.svg#bebas_neueregular") format("svg");
    font-weight: normal;
    font-style: normal;

}

.tab-bar {
  display: none;
}

header {
  position: fixed;
  z-index: 50;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  top: 0;
  height: 135px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.archive-img-smart img {
  display: none;
} 

.search-container {
  position: absolute;
  margin-top:-99999px;
  background-color: rgba(0,0,0,0.9);
  padding: 5px;
  width:100%;
}

.search-container.show {
  margin-top: -20px;
  z-index: 9999;
  position: fixed;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.icon-search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 20px;
}

.icon-search:hover {
  background-image: url(../img/search_hover.svg);
  background-repeat: no-repeat;
  background-size: 20px;
}

.screen-reader-text {
  display: none;
}

.searchform {
  padding-top: 10px;
}

.search-container.show .searchform input[type=text] {
  width: 90%;
  background: rgba(0,0,0,0);
  color: rgba(253,184,19,1); 
  float: left;
  border: 0;
  box-shadow: none;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  height: 60px;
}

.search-container.show .searchform input[type=submit] {
  width: 10%;
  background: transparent;
  padding: 10px;
  color: rgba(255,255,255,0.5);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  border: 0; 
  border-left: 1px solid rgba(255,255,255,1);
}

.search-container.show .searchform input[type=submit]:hover {
  background-color: rgba(255,255,255,0.2);
}

#logo {
  height: 135px;
  line-height: 135px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#main-menu ul li {
  display: inline-block;
  margin-right: 15px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
}

#main-menu a {
  color: rgba(255,255,255,1);
  line-height: 135px;
  height: 135px;
  font-size: 1.2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#main-menu a:hover {
  color: rgba(253,184,19,1);
  line-height: 135px;
  height: 135px;
  font-size: 1.2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-icon {
  height: 135px;
  line-height: 135px;
  padding:0;
  margin:0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-icon li {
  margin:0;
  display: inline-block;
  list-style: none;
}

.social-icon img {
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0;
}

.icon-search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-size: 19px;
  margin-left: 90px;
}

.icon-search:hover {
  background-image: url(../img/search_hover.svg);
  background-repeat: no-repeat;
  background-size: 19px;
}

header.smaller {
  height: 80px;
}

.search-container.smaller {
  margin-top: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header.smaller #logo {
  width: 200px;
  height: 60px;
  line-height: 60px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header.smaller #main-menu a {
  height: 80px;
  line-height: 80px;
  font-size: 1em;
}

header.smaller .social-icon {
  height: 80px;
  line-height: 80px;
}

/* --FINE HEADER E MAIN MENU-- */

.fotorama__thumb-border {
  border-color: rgba(243,33,36,1);
  border-width: 20px;
}

/* --SLIDER FILM AL CINEMA-- */

.slider-cinema .slideshow-wrapper {
  width: 100%;
  min-height: 838px;
}

.slider-cinema .slideshow {
  z-index: 0;
  /* --DA CAMBIARE IL PRIMA POSSIBILE-- */
  position: relative;
}

.slider-cinema .slide {
  position: relative;
}

.slider-cinema .slide .info-wrapper img {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.slider-cinema .fotorama__video-play {
  margin-top: 20px;
  position: absolute;
  background-image: url(../img/play.svg);
  background-position: 0px 0px;
  background-size: 75%;
}

.slider-cinema .fotorama__nav-wrap {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 30;
  height: 210px;
  margin-top: -120px;
}

.slider-cinema .fotorama__caption__wrap {
  position: absolute;
  background: none;
  width: 100%;
}

.slider-cinema .info-wrapper {
  margin-top: -575px;
  position: relative;
}

.slider-cinema .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
}

.slider-cinema .info-content {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia";
  font-style: italic;
  margin-top: 15px;
  line-height: 1.1em;
  width: 100%;
}

.slider-cinema .info-date {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
}

.slider-cinema .info-date h4 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 7.3em;
  height: 1em;
  margin-left: -5px;
  margin-bottom: 0px;
  margin-top: -30px;
}

.slider-cinema .info-date h5 {
  color: rgba(255,255,255,1);
  font-family: "Georgia";
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: -5px;
  text-align: center;
}

.slider-cinema .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  height: 1em;
}

.slider-cinema .film-thumb-title h4 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  position: absolute;
  bottom: -450px;
  z-index: 10;
  display: inline-block;
}

/* --FINE SLIDER FILM AL CINEMA-- */

/* --SLIDER PROSSIME USCITE-- */

.nextexit-bg {
  background-color: rgba(242,242,242,1);
}

.nextexit-bg h2 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(243,33,36,1);
  margin: 50px 0 17px 0;
  font-size: 350%;
}

.slider-nextexit .slideshow-wrapper {
  width: 100%;
  min-height: 360px;
}

.slider-nextexit .fotorama__caption__wrap {
  background: none;
  position: absolute;
  width: 100%;
}

.slider-nextexit .info-wrapper {
  margin-top: -75px;
}

.slider-nextexit .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px 10px 10px 33px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.8em;
  margin-top: -495px;
  text-align: right;
  position: absolute;
  display: inline-block;
}

.slider-nextexit .info-date {
  margin-top: -290px;
  background-color: rgba(0,0,0,0.8);
}

.slider-nextexit .info-date h4 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  height: 1em;
  float: left;
}

.slider-nextexit .info-date h5 {
  color: rgba(255,255,255,1);
  font-family: "Georgia";
  padding: 10px 5px 10px 5px;
  font-style: italic;
  font-size: 1.3em;
  height: 1em;
  float: left;
}

.slider-nextexit .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  height: 1em;
  float: left;
  padding-right: -100px;
}

.slider-nextexit .fotorama__nav-wrap {
  height: 210px;
  line-height: 210px;
  padding-top: 20px;
  z-index: 30;
  margin-left: -200px;
}

.slider-nextexit .button {
  background-color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  margin-top: -155px;
  width: 280px;
}

.slider-nextexit .button:hover {
  background-color: rgba(253,184,19,1);
}

/* --FINE SLIDER PROSSIME USCITE-- */

/* --ON DEMAND-- */

.ondemand-bg {
  height: 485px;
}

.ricerca-bg-hm {
  background-image: url(../img/ondemand-copertina.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ondemand-bg h2 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(72,72,72,1);
  margin: 40px 0 10px 0;
  font-size: 350%;
}

.slider-ondemand .info-wrapper img {
  opacity: 0;
  margin-top: -80px; 
}

.slider-ondemand .slideshow-wrapper {
  width: 100%;
  min-height: 360px;
}

.slider-ondemand .fotorama__caption__wrap {
  background: none;
  position: absolute;
  width: 100%;
}

.slider-ondemand .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 5px 10px 2px 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.8em;
  margin-top: -535px;
  text-align: left;
  position: absolute;
  display: inline-block;
  z-index: 50;
}

.slider-ondemand .info-content {
  color: rgba(0,0,0,1);
  padding: 10px 10px 10px 0;
  font-family: "Georgia";
  font-style: italic;
  margin-top: 15px;
  line-height: 1.2em;
  font-size: 0.9em;
  width: 100%;
  position: absolute;
  display: inline-block;
  margin-top: -490px;
  z-index: 20;
}

.slider-ondemand .fotorama__nav__shaft {
  margin-left: 200px;
}

.slider-ondemand .fotorama__arr {
  background: none;
}

.slider-ondemand .fotorama__nav-wrap {
  background-color: rgba(255,255,255,1);
  height: 280px;
  line-height: 280px;
  padding-top: 20px;
  z-index: 30;
  width: 800px;
  margin-left: -200px;
  margin-top: -380px;
  position: absolute;
}

.slider-ondemand .button {
  background-color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  margin-top: -75px;
  width: 280px;
  margin-top: -335px;
  width: 280px;  
  margin-bottom: 95px;
}

.slider-ondemand .button:hover {
  background-color: rgba(253,184,19,1);
}

/* --FINE ON DEMAND-- */

/* --BLOG-ARCHIVIO-- */

.blog-archivio-bg {
  background-color: rgba(242,242,242,1);
}



.blog {
  margin-left: -15px;
}

.blog h4 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 5px 10px 2px 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: left;
  display: inline-block;
  margin-top: 15px;
}

.blog h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  margin-top: 10px;
  color: rgba(72,72,72,1);
  text-decoration: none;
}

.blog p {
  font-family: "Georgia";
  font-style: italic;
}

.blog .button {
  background-color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  margin-top: 29px;
  width: 280px;
  margin-bottom: 95px;
}

.blog .button:hover {
  background-color: rgba(253,184,19,1);
}

.blog .button a {
  color: rgba(255,255,255,1);
}

.blog-archivio-bg h2 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(243,33,36,1);
  margin: 45px 0 10px 0;
  font-size: 350%;
}

.blog-archivio-bg h5 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  padding:2px;
  color: rgba(255,255,255,1);
}

.archive-film {
  margin-left: -15px;
}

.archivio a h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  margin-top: 10px;
  color: rgba(72,72,72,1);
  text-decoration: none;
}

.archivio h5 a {
  font-family: "Georgia";
  font-style: italic;
  color: rgba(72,72,72,1);
  font-size: 0.7em;
  text-decoration: underline;
}

.archivio span {
  background-color: rgba(0,0,0,0.8);
  padding: 3px 4px 1px 4px; 
}

.archivio .button {
  background-color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  margin-top: 29px;
  width: 280px;
  margin-bottom: 95px;
}

.archivio .button:hover {
  background-color: rgba(253,184,19,1);
}

.archivio .button a {
  color: rgba(255,255,255,1);
}

/* --FINE BLOG-ARCHIVIO-- */

/* -- MISSION --*/
  
.mission h2 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(72,72,72,1);
  margin: 30px 0 10px 0;
  font-size: 350%;
}

.mission p {
  font-family: "Georgia";
  font-style: italic;
  margin-bottom: 95px;
}

/* -- FINE MISSION-- */

/* --FOOTER-- */

footer {
  padding:0;
  margin:40px 0 0 0;
  background:url(../img/blur.png) top center no-repeat;
  background-size: contain;
}

footer .wrapper {
  margin-top:150px;
  background-color: rgba(38,37,37,1);
}

.info-footer {
  margin-bottom: 50px;
}

footer h6 {
  padding-top: 70px;
  font-family: "Georgia";
  font-style: italic;
  color: rgba(255,255,255,1);
  line-height: 20px;
  font-size: 0.9em;
}

footer h2 {
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 0.8em;
  padding-left: 325px;
  padding-right: 50px;
}

footer span {
  color: rgba(243,33,36,1);
  font-family: "Bebas Neue";
  font-style: normal;
  font-size: 1.2em;
  text-decoration: none;
}

footer a {
  color: rgba(255,255,255,1);
  text-decoration: underline;
}

footer a:hover {
  color: rgba(253,184,19,1);
}

footer .button {
  background-color: rgba(243,33,36,1);
  font-family: "Bebas Neue";
  padding: 10px 40px 10px 40px;
  margin-top: 29px;
  width: 180px;
  margin-bottom: -50px;
}

footer .button:hover {
  background-color: rgba(253,184,19,1);
}

footer .button:active {
  background-color: black;
}

.back-login {
  background-color: rgba(255,255,255,0.9);
  border: none;
}

.back-login .close-reveal-modal {
  text-decoration: none;
}

.back-login h4 {
  color: rgba(38,37,37,1);
  font-size: 3em;
  font-family: "Bebas Neue";
}

.back-login h6 {
  color: rgba(38,37,37,1);
  font-size: 1em;
  font-family: "Georgia";
  font-style: italic;
  float: right;
  line-height: 60px;
  margin-left: 50px;
}

.back-login h6 a {
  color: rgba(38,37,37,1);
  text-decoration: underline;
}

#loginform {
  margin-top: 20px;
}

#loginform p {
  font-family: "Bebas Neue";
}

#loginform label {
  font-size: 1.2em;
}

#user_login {
  background-color: rgba(0,0,0,0.1);
  border: none;
  box-shadow: none;
  height: 50px;
  font-size: 30px;
  font-family: 'Georgia';
}

#user_pass {
  background-color: rgba(0,0,0,0.1);
  border: none;
  box-shadow: none;
  height: 50px;
  font-size: 30px;
  font-family: 'Georgia';
}

#wp-submit {
  background-color: rgba(243,33,36,1);
  font-family: "Bebas Neue";
  padding: 10px 40px 10px 40px;
  margin-top: 10px;
  width: 180px;
  border: none;
  color: rgba(255,255,255,1);
  font-size: 1.5em;
  float: left;
  line-height: 60px;
}

.hello-user a {
  float: left;
  font-family: "Bebas Neue";
  font-size: 2.5em;
  width: 33.33%;
  text-align: center;
  color: rgba(243,33,36,1);
  padding: 20px 20px 20px 20px;
}

.hello-user a:hover {
  background-color: rgba(243,33,36,1);
  color: rgba(255,255,255,1);
}

.site-admin a {
  float: left;
  font-family: "Bebas Neue";
  font-size: 2.5em;
  width: 33.33%;
  text-align: center;
  color: rgba(243,33,36,1);
  padding: 20px 20px 20px 20px;
}

.site-admin a:hover {
  background-color: rgba(243,33,36,1);
  color: rgba(255,255,255,1);
}

.log-out a {
  float: left;
  font-family: "Bebas Neue";
  font-size: 2.5em;
  width: 33.33%;
  text-align: center;
  color: rgba(243,33,36,1);
  padding: 20px 20px 20px 20px;
}

.log-out a:hover {
  background-color: rgba(243,33,36,1);
  color: rgba(255,255,255,1);
}

.social-icon-footer {
  height: 75px;
  line-height: 75px;
}

.social-icon-footer img {
  height: 20px;
  margin-left: 0.35em;
  margin-right: 0.3em;
  padding: 2px;
  opacity: 0;
}

.logo-fb {
  background-image: url(../img/facebook.svg);
  background-repeat: no-repeat;
  background-size: 20px;
}

.logo-tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-size: 20px;
}

.logo-pn {
  background-image: url(../img/pinterest.svg);
  background-repeat: no-repeat;
  background-size: 20px;
}

.logo-gp {
  background-image: url(../img/googleplus.svg);
  background-repeat: no-repeat;
  background-size: 20px;
}

.logo-yt {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-size: 20px;
}

.logo-fb:hover {
  background-image: url(../img/facebook_hover.svg);
  background-repeat: no-repeat;
}

.logo-tw:hover {
  background-image: url(../img/twitter_hover.svg);
  background-repeat: no-repeat;
}

.logo-pn:hover {
  background-image: url(../img/pinterest_hover.svg);
  background-repeat: no-repeat;
}

.logo-gp:hover {
  background-image: url(../img/googleplus_hover.svg);
  background-repeat: no-repeat;
}

.logo-yt:hover {
  background-image: url(../img/youtube_hover.svg);
  background-repeat: no-repeat;
}

/* --FINE FOOTER-- */

/* --CHI SIAMO-- */

.chi-siamo .slide .info-wrapper img {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.chi-siamo .fotorama__video-play {
  margin-top: 30px;
  position: absolute;
  background-image: url(../img/play.svg);
  background-position: 0px 0px;
  background-size: 75%;
}

.chi-siamo .fotorama__nav-wrap {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 30;
  height: 210px;
  margin-top: -120px;
}

.chi-siamo .fotorama__caption__wrap {
  position: relative;
  background: none;
  width: 100%;
  margin-top: -1390px;
}

.chi-siamo .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
  margin-top: 285px;
} 

.chi-siamo .info-content {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia";
  font-style: italic;
  margin-top: 15px;
  line-height: 1.1em;
  width: 100%;
}

.chi-siamo .info-date {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  margin-top: -220px;
}

.chi-siamo .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  height: 1em;
}

.chi-siamo .info-wrapper {
  padding-top: 275px;
  position: relative;
}

.chi-siamo-bg h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.5em;
  color: rgba(243,33,36,1);
  margin-top: 50px;
}

.chi-siamo-bg p {
  font-family: "Georgia";
  font-style: italic;
}

.produzioni-bg {
  background-color: rgba(242,242,242,1);
  height: 640px;
}

.produzioni-bg h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.5em;
  color: rgba(243,33,36,1);
  margin-top: 50px;
}

.produzioni-bg h4 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  color: rgba(255,255,255,1);
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.8);
  margin-top: 20px;
  display: inline-block;
}

.nome-produttore {
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
}

.titolo-produzione {
  font-family: "Georgia";
  font-style: italic;
}

.azienda-bg {
  background-image: url(../img/blur_bn.png);
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 90px;
}

.azienda-bg .sfondo {
  background-color: rgba(255,255,255,0.5);
}

.azienda-bg img {
  opacity: 0.8;
}

.azienda-bg h4 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  color: rgba(255,255,255,1);
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.8);
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 40px;
}

.azienda-bg h5 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  color: rgba(255,255,255,1);
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.8);
  margin-top: 20px;
  display: inline-block;
}

.azienda-bg p {
  font-family: "Georgia";
  font-style: italic;
  margin-bottom: 70px;
}
/* --FINE CHI SIAMO-- */

/* --SINGLE-REGISTA-- */

.img-regista .slideshow-wrapper {
  width: 100%;
  min-height: 838px;
}

.img-regista .slideshow {
  z-index: 0;
  /* --DA CAMBIARE IL PRIMA POSSIBILE-- */
  position: relative;
}

.img-regista .fotorama__nav-wrap {
  position: absolute;
  z-index: 10;
}

.img-regista .slide {
  position: relative;
}

.img-regista .slide .info-wrapper img {
  position: absolute;
  top: 0px;
}

.img-regista .fotorama__video-play {
  margin-top: 20px;
}

.img-regista .fotorama__nav-wrap {
  background-color: rgba(0,0,0,0.8);
  height: 210px;
  line-height: 210px;
  padding: 10px;
  padding-top: 15px;
}

.img-regista .fotorama__caption__wrap {
  position: absolute;
  background: none;
  width: 100%;
}


.img-regista .info-wrapper {
  padding-top: 185px;
  position: relative;
}

.img-regista .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
}

.img-regista .info-content {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
}

.img-regista .info-date {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
}

.img-regista .info-date h4 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 6.5em;
  height: 1em;
  margin-left: -5px;
  margin-bottom: -10px;
  margin-top: -20px;
}

.img-regista .info-date h5 {
  color: rgba(255,255,255,1);
  font-family: "Georgia";
  font-style: italic;
  font-size: 2.3em;
  margin-bottom: -5px;
  }

.img-regista .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  height: 1em;
  }

.img-regista .film-thumb-title h4 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  margin-top: 255px;
}

.biografia {
  background-color: rgba(242,242,242,1);
}

.biografia h2 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(243,33,36,1);
  margin: 45px 0 10px 0;
  font-size: 350%;
}

.biografia p {
  font-family: "Georgia";
  font-style: italic;
}

.filmografia h2 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(243,33,36,1);
  margin: 45px 0 10px 0;
  font-size: 350%;
}

.filmografia h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  margin-top: -5px;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  position: absolute;
}

.slider-film-catalogo .info-wrapper img {
  opacity: 0;
}

.slider-film-catalogo .slideshow-wrapper {
  width: 100%;
  min-height: 360px;
}

.slider-film-catalogo .fotorama__caption__wrap {
  background: none;
  position: absolute;
  width: 100%;
}

.slider-film-catalogo .info-film-catalogo h3 spam {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
}

.altri-film-bg {
  background-color: rgba(242,242,242,1);
}

.altri-film-bg h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  margin-top: 10px;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  position: absolute;
}

.slider-film-catalogo .info-wrapper img {
  opacity: 0;
}

.slider-film-catalogo .slideshow-wrapper {
  width: 100%;
  min-height: 360px;
}

.slider-film-catalogo .fotorama__caption__wrap {
  background: none;
  position: absolute;
  width: 100%;
}

.slider-film-catalogo .info-film-catalogo h3 spam {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  position: absolute;
}

.slider-film-catalogo .info-wrapper img {
  opacity: 0;
}

.slider-film-catalogo .slideshow-wrapper {
  width: 100%;
  min-height: 360px;
}

.slider-film-catalogo .fotorama__caption__wrap {
  background: none;
  position: absolute;
  width: 100%;
}

.slider-film-catalogo .info-film-catalogo h3 spam {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
}

.altri-film-bg ul li {
  list-style-type: none;
}
.slider-film-catalogo a {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-align: left;
  margin-left: 280px;
  margin-top: -2px;
  margin-bottom: -50px;
  font-size: 2em;
}

.slider-film-catalogo .fotorama__nav-wrap {
  background-color: rgba(255,255,255,1);
  height: 280px;
  line-height: 280px;
  padding-top: 20px;
  z-index: 10;
  width: 100%;
  margin-top: -320px;
  position: absolute;
}

.slider-film-catalogo a {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-align: left;
  margin-left: 280px;
  margin-top: -2px;
  margin-bottom: -50px;
  font-size: 2em;
}

.slider-film-catalogo .fotorama__nav-wrap {
  background-color: rgba(255,255,255,1);
  height: 280px;
  line-height: 280px;
  padding-top: 20px;
  z-index: 10;
  width: 100%;
  margin-top: -320px;
  position: absolute;
}


/* --FINE SINGLE-REGISTA-- */

/* --SINGLE-FILM-- */

.single-film .slide .info-wrapper img {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.single-film .fotorama__video-play {
  margin-top: 30px;
  position: absolute;
  background-image: url(../img/play.svg);
  background-position: 0px 0px;
  background-size: 75%;
}

.single-film .fotorama__nav-wrap {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 30;
  height: 210px;
  margin-top: -120px;
}

.single-film .fotorama__caption__wrap {
  position: relative;
  background: none;
  width: 100%;
  margin-top: -1390px;
}

.single-film .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
  margin-top: 285px;
} 

.single-film .info-content {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia";
  font-style: italic;
  margin-top: 10px;
  line-height: 1.1em;
  display: inline-block;
}

.single-film .info-content p {
  margin-bottom: 5px;
}

.single-film .info-content span {
  color: rgba(255,255,255,0.8);
  font-size: 2em;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-style: normal;
}

.single-film .info-date {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  margin-top: -220px;
}

.single-film .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  height: 1em;
}

.single-film .info-wrapper {
  padding-top: 375px;
  position: relative;
}

.single-film .film-thumb-title h4 a {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 15px;
  display: inline-block;
}

.single-film .info-ondemand h4 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  margin-top: 50px;
  margin-left: 15px;
  display: inline-block;
}

.single-film .info-ondemand ul li a {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 5px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1em;
  display: inline-block;
  float: left;
  margin: 0 10px 0 -2px;
}

.single-film .info-ondemand li {
  list-style: none;
}

.single-film .info-ondemand li img{
  height: 20px;
  margin-right: 5px;
}

.single-film .info-ondemand li a.itunes:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(14,140,211,1);
}

.single-film .info-ondemand li a.amazon:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(247,155,52,1);
}

.info-film {
  margin-top: 50px;
  height: 450px;
}

.info-film h3 {
  margin-bottom: 20px;
}

.info-film h3 span {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  padding: 5px 7px 3px 7px;
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.9);
}

.info-film h4 {
  color: rgba(0,0,0,0.7);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 45px;
}

.content-film {
  height: 45px;
  line-height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-film a {
  font-family: "Georgia";
  color: rgba(0,0,0,1);
  font-size: 1em;
  font-style: italic;
  text-decoration: underline;
  line-height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info-film p {
  font-family: "Georgia";
  font-size: 1em;
  line-height: 1.7em;
  font-style: italic;
}

.download-film {
  height: 50px;
}

.download-film h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 3em;
  color: rgba(181,58,61,1);
  margin-bottom: -10px;
}

.download-film .tabs a {
  background: none;
  margin-left: 0px;
  margin-right: 0px;
}

.download-film .tabs a:hover {
  background: none;
  margin-left: 0px;
  margin-right: 0px;
}

.download-film .tabs a h4 span {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.1em;
  color: rgba(0,0,0,0.7);
  padding: 5px 7px 3px 7px;
  text-align: center;
  background: none;
}

.download-film .tabs a h4 span:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.9);
}

.tabs-content {
  margin-top: 43px;
  margin-bottom: -20px;
  z-index: 40;
  position: relative;
}

/* FOTO FILM */
.img-film-download .slideshow-wrapper {
  width: 100%;
  min-height: 838px;
}

.img-film-download .slideshow {
  z-index: 0;
  /* --DA CAMBIARE IL PRIMA POSSIBILE-- */
  position: relative;
}

.img-film-download .slide {
  position: relative;
}

.img-film-download .slide .info-wrapper img {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.img-film-download .fotorama__nav-wrap {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 30;
  height: 210px;
  margin-top: -120px;
}

.img-film-download .fotorama__caption__wrap {
  position: absolute;
  background: none;
  width: 100%;
}

.img-film-download .slide .info-wrapper {
  padding-top: 60px;
  position: relative;
}

.img-film-download .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
}

.img-film-download .info-content {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia";
  font-style: italic;
  margin-top: 15px;
  line-height: 1.1em;
  width: 100%;
}

.img-film-download .info-date {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
}

.img-film-download .info-date h4 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 7.3em;
  height: 1em;
  margin-left: -5px;
  margin-bottom: 0px;
  margin-top: -30px;
}

.img-film-download .info-date h5 {
  color: rgba(255,255,255,1);
  font-family: "Georgia";
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: -5px;
  text-align: center;
}

.img-film-download .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  height: 1em;
}

.img-film-download .film-thumb-title h4 a {
  color: rgba(255,255,255,1);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1em;
  position: absolute;
  bottom: -555px;
  z-index: 10;
  display: inline-block;
  background-color: rgba(0,0,0,0.8);
}

.info-date .share {
  display: block;
  cursor: pointer;
}


.info-date .share div.inner {
  background-color: rgba(0,0,0,0.8);
  width: 130px;
  margin-left: -15px;
  display: none;
}

.info-date:hover div.inner {
  display: block
}

.info-date:hover div.inner .icons .pop {
  height: 30px;
  margin: 10px;
}

.share-icon {
  display: inline-block;
  height: 20px;
  width: 30px; 
  background-size:contain;
  background-repeat: no-repeat;
}

.share-icon-facebook {
  background-image: url(../img/facebook.svg);
}

.share-icon-twitter {
  background-image: url(../img/twitter.svg);
}

.share-icon-pinterest {
  background-image: url(../img/pinterest.svg);
}

.share-icon-googleplus {
  background-image: url(../img/googleplus.svg);
}


/* FINE FOTO FILM */

/* PRESSBOOK */
.pressbook img {
  opacity: 0.2;
}

.pressbook .button {
  background-color: rgba(0,0,0,0.8);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  margin-top: -300px;
  width: 280px;
  margin-left: 560px;
  position: absolute;
  display: inline-block;
}

.pressbook h4 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  position: absolute;
  margin-top: -500px;
  text-align: center;
  width: 100%;
  font-size: 2.5em;
}

.pressbook h5 {
  font-family: 'Georgia';
  font-style: italic;
  position: absolute;
  margin-top: -420px;
  text-align: center;
  width: 100%;
  font-size: 1em;
}
/* FINE PRESSBOOK */

/* MANIFESTO */
.manifesto img {
  opacity: 0.2;
}

.manifesto a img {
  opacity: 1;
  position: absolute;
  margin-top: -620px;
}

.manifesto h4 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  position: absolute;
  margin-top: -580px;
  font-size: 2.5em;
}

.manifesto h6 {
  font-family: "Georgia", serif;
  font-style: italic;
  color: rgba(0,0,0,1);
  position: absolute;
  margin-top: -450px;
  margin-bottom: 50px;
  font-size: 1.5em;
}

.manifesto .button {
  background-color: rgba(0,0,0,0.8);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  margin-top: -300px;
  width: 280px;
  position: absolute;
  display: inline-block;
}
/* FINE MANIFESTO */

/* CLIP VIDEO */
.video-film-download .slide .info-wrapper img {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.video-film-download .fotorama__video-play {
  margin-top: -100px;
}

.video-film-download .fotorama__nav-wrap {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  z-index: 30;
  height: 210px;
  margin-top: -120px;
}

.video-film-download .fotorama__caption__wrap {
  position: relative;
  background: none;
  width: 100%;
  margin-top: -1390px;
}

.video-film-download .info-wrapper {
  padding-top: 60px;
  position: relative;
}

.video-film-download .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
}

.video-film-download .info-content {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia";
  font-style: italic;
  margin-top: 15px;
  line-height: 1.1em;
  width: 100%;
}

.video-film-download .info-date {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
}

.video-film-download .info-date h4 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 7.3em;
  height: 1em;
  margin-left: -5px;
  margin-bottom: 0px;
  margin-top: -30px;
}

.video-film-download .info-date h5 {
  color: rgba(255,255,255,1);
  font-family: "Georgia";
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: -5px;
  text-align: center;
}

.video-film-download .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
  height: 1em;
}

.video-film-download .film-thumb-title h4 a {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1em;
  position: absolute;
  bottom: -555px;
  z-index: 10;
  display: inline-block;
}

.video-film-download .fotorama__caption__wrap {
  position: relative;
  background: none;
  width: 100%;
  margin-top: -1390px;
}

.video-film-download .info-wrapper {
  padding-top: 60px;
  position: relative;
}
/* FINE CLIP VIDEO */

.slider-film-simili {
  margin-top: 50px;
}

.slider-film-simili .info-wrapper img {
  opacity: 0;
}

.slider-film-simili .slideshow-wrapper {
  width: 100%;
  min-height: 360px;
}

.slider-film-simili .fotorama__caption__wrap {
  background: none;
  position: absolute;
  width: 100%;
}

.slider-film-simili .altri-film span {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(181,58,61,1);
}

.slider-film-simili .slide a {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-align: left;
  margin-top: 50px;
  margin-bottom: -50px;
  font-size: 2em;
}

.slider-film-simili .fotorama__nav-wrap {
  background-color: rgba(255,255,255,1);
  height: 280px;
  line-height: 280px;
  padding-top: 20px;
  z-index: 10;
  width: 100%;
  margin-top: -400px;
  position: absolute;
}

/* --FINE SINGLE-FILM-- */

/* --PRESS-- */

.archivio-pg p {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1.2em;
  display: inline-block;
}

.ricerca-bg-pr {
  background-image: url(../img/press-copertina.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.press-bg .option-visual-page ul li {
  display: inline-block;
  margin-right: 15px;
  font-family: "Georgia";
  font-style: italic;
  float: left;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 1.2em;
}

.press-bg .option-visual-page ul li a {
  color: rgba(243,33,36,1);
  padding: 5px;
}

.press-bg .option-visual-page ul li a:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  font-size: 1em;
}

.press-bg .option-visual-page .view-film {
  margin-left: 240px;
}

.press-bg .first-menu {
  margin-left: -15px;
}

.press-bg .sezione-film h4 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  margin-top: 10px;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
}

.press-bg ul li h5 {
  font-family: "Georgia";
  font-style: italic;
}

.press-bg .selected li {
  display: inline-block;
  margin-right: 20px;
}

.press-bg .selected a {
  font-family: "Georgia";
  font-style: italic;
  color: rgba(181,58,61,1);
}

.press-bg .selected a.selected {
  color: rgba(255,255,255,1);
  background: rgba(72,72,72,1);
  padding: 0px 5px;
}

.press-icone {
  max-width: 1.2em;
  margin-right: 0.5em;
  margin-top: 1.0em;
  margin-bottom: 3.0em;
}

.pagination a{
  color: rgba(243,33,36,1);
  font-size: 1.2em;
  text-decoration: none;
  margin: 0 5px;
}

.pagination .current {
  font-size: 1.2em;
  background-color: rgba(243,33,36,1);
  font-family: 'Georgia';
}

/* --FINE PRESS-- */

/* --ARCHIVIO-- */

.archivio-pg h2 {
  color: rgba(243,33,36,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
  margin-top: 180px;
}

.ricerca-bg-ar {
  background-image: url(../img/archivio-copertina.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.option-visual-page ul li {
  display: inline-block;
  margin-right: 15px;
  font-family: "Georgia";
  font-style: italic;
  float: left;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 1.2em;
}

.option-visual-page ul li a {
  color: rgba(243,33,36,1);
  padding: 5px;
}

.option-visual-page ul li a:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  font-size: 1em;
}

.option-visual-page .view-film {
  margin-left: 240px;
}

.layout-film {
  height: 650px;
  margin-bottom: 80px;
}

.title-layout {
  height: 100px;
}

.archivio-film h3 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1em;
  display: inline-block;
  margin-bottom: 30px;
}

.archivio-film img {
  margin-bottom: 20px;
}

.archivio-film span {
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  padding-left: 2px;
  padding-right: 2px;
}

.archivio-film a {
  font-family: "Georgia";
  font-style: italic;
  color: rgba(0,0,0,1);
  font-size: 0.8em;
  text-decoration: underline;
}

/* FINE PAGINA ARCHIVIO */

/* INIZIO PAGINA SCUOLA */
.scuola-pg h2 {
  color: rgba(243,33,36,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
  margin-top: 180px;
}

.scuola-pg p {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1.2em;
  display: inline-block;
}

.ricerca-bg-sc {
  background-image: url(../img/scuole-copertina.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scuola-bg .first-menu {
  margin-left: -15px;
}

.sezione-film ul {
  margin-left: 0rem;
}

.scuola-bg ul li h5 {
  font-family: "Georgia";
  font-style: italic;  
}

.scuola-bg .selected li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 1.2em;
}

.scuola-bg .selected-2 li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 1.2em;
}

.scuola-bg .selected-2 {
  margin-left: 240px;
  margin-right: 20px;
}

.scuola-bg .selected a {
  font-family: "Georgia";
  font-style: italic;
  color: rgba(181,58,61,1);
}

.scuola-bg .selected a.selected {
  color: rgba(255,255,255,1);
  background: rgba(72,72,72,1);
  padding: 0px 5px;
}

#scuola ul li {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
}

#scuola {
  margin-top: 70px ;
  margin-bottom: 50px;
}

#scuola .sezione-film ul li h4 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  margin-top: 10px;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
}

#scuola .sezione-film ul li h3 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(72,72,72,1);
}

.text-film p {
  font-family: "Georgia";
  font-style: italic;
}


.text-film a {
  position: relative;
}

.descrizione-scuole {
  min-height: 100px;
  height: 250px;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

.descrizione-scuole.expanded {
  height: auto;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

}

.white-gradient {
  background: linear-gradient(#FFFFFF, #EFEFEF ,#D2D2D2);
  height: 70px;
}

.white-gradient button {
  width: 550px;
  position: relative;
  
  background:url(../img/arrow-down.png) center no-repeat;
  margin-top: 20px;
}

.descrizione-scuole {
  overflow: auto;
  height: 400px;
}

.text-film h5 {
  font-family: "Georgia";
  font-style: italic;
  color: rgba(181,58,61,1);
  text-decoration:underline;
}

#content-scuola {
  margin-top: 50px;
}

.info-film-scuola h5 span {
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  display: inline-block;
  background-color: rgba(72,72,72,1);
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
}

.info-film-scuola a {
  font-family: "Georgia";
  font-style: italic;
  font-size: 80%;
  color: rgba(72,72,72,1);
}

#button-scuola a {
  background-color: rgba(243,33,36,1);
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}
/* FINE PAGINA SCUOLA */


/* FORM RICERCA */

.wp-advanced-search {
  margin-top: 35px;
}

#search_query {
  background-color: rgba(0,0,0,0.3);
  border: none;
  box-shadow: none;
  height: 50px;
  font-size: 20px;
  font-family: 'Georgia';
  color: rgba(255,255,255,1);
}

.label-container label {
  display: none;
}

#tax_category {
  background-color: rgba(0,0,0,0.3);
  border: none;
  box-shadow: none;
  height: 50px;
  width: 80%;
  font-size: 20px;
  font-family: 'Georgia';
  font-style: italic;
  margin-right: 25px;
  float: left;
  color: rgba(255,255,255,1);
}

.wpas-submit {
  background-color: rgba(243,33,36,1);
  font-family: Bebas Neue;
  width: 180px;
  border: none;
  color: rgba(255,255,255,1);
  font-size: 1.2em;
  height: 50px;
  float: right;
}

/* --FINE FORM RICERCA-- */

/* --PAGINA SEARCH-- */

.title-red {
  margin-top: 185px;
  color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
}

.search-list li {
  list-style: none;
  margin-left: -15px;
  margin-bottom: 20px;
}

.search-list li h4 a {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
}

.side {
  margin-bottom: 50px;
}

.side h2{
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px 10px 5px 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
  margin-top: 185px;
  margin-left: -5px;
}

.side h4 {
  font-family: 'Georgia';
  font-style: italic;
  text-align: right;
  font-size: 1em;
}

.side h3 a {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
  margin-left: -5px;
}

.side {
  font-family: 'Georgia';
  font-style: italic;
}

.film-archivio-bg {
  background-color: rgba(242,242,242,1);
}

.section-title {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px 10px 5px 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
  margin-top: 30px;
  margin-left: -5px;
}

.img-archivio img {
  padding: 10px;
}

.img-archivio li {
  list-style: none;
  font-family: 'Georgia';
  font-style: italic;
  margin-left: -5px;
  font-size: 1.2em;
}

.img-archivio li a {
  color: rgba(0,0,0,1);
}

.text-container {
  height: 100px;
}

.text-container h3 a {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
  margin-left: -5px;
}

.search-button {
  background-color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px 40px 10px 40px;
  width: 275px;
  color: rgba(255,255,255,1);
  margin-bottom: 50px;
}

.search-button:hover {
  background-color: rgba(253,184,19,1);
  color: rgba(255,255,255,1);
}

/* --FINE PAGINA SEARCH-- */

/* --PAGINA BLOG-- */

.info-blog {
  z-index: 20;
  width: 100%;
  margin: -180px 0px 37px -15px;
}

.slide-blog {
  height: auto;
  margin-bottom: 10px;  
}

.slide-blog .info-title h2 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 2.4em;
  line-height: 1em;
  display: inline-block;
  margin-left: -80px;
}

.slide-blog .info-title h6 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
  margin-left: -80px;
}

.slide-blog .info-content {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  font-family: "Georgia";
  font-style: italic;
  margin-top: 15px;
  line-height: 2em;
  width: 70%;
  margin-left: 30px;
}

.slide-blog .info-date {
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  height: 180px;
}

.slide-blog .info-date h4 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 7.3em;
  height: 1em;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-top: -30px;
}

.slide-blog .info-date h5 {
  color: rgba(255,255,255,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.slide-blog .info-date h6 {
  color: rgba(255,255,255,1);
  font-family: 'Georgia';
  font-style: italic;
  font-size: 0.8em;
  height: 1em;
}

.blog-content{
  font-family: "Georgia";
  font-style: italic;
  margin-bottom: 95px;
  width: 100%;
  padding: 0 20% 0 10%;
  margin-top: 50px;
}

#blog-tag h2{
  color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 1.5em;
}

#blog-tag ul{
  margin-left: -50px;
  list-style-type: none;
}

#blog-tag ul li{
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,1);
  margin-right: 3%;
  text-align: center;
  float: left;
  font-size: 1em;
  padding: 3px 5px 3px 5px;
}

#blog-tag a {
  color: rgba(255,255,255,1);
}

#blog-tag li:hover {
  background-color: rgba(253,184,19,1);
} 

.blog-simil-bg {
  background-color: rgba(242,242,242,1);
}

.blog-simil {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-simil h2 {
  color: rgba(243,33,36,1);
  font-family: "Bebas Neue", Helvetica, sans-serif;
}

.slide-blog-simil {
  width: 20%;
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}

.slide-blog-simil h4 {
  font-family: "Bebas Neue", Helvetica, sans-serif;
}

.blog-content-simil p{
  font-family: "Georgia";
  font-style: italic;
  padding: 0px 10px 0px 15px;
  font-size: 0.8em;
  line-height: 1.5em;
}

.blog-content-simil h6{
  font-family: "Georgia";
  font-style: italic;
  padding: 0px 10px 0px 15px;
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5em;
  text-align: right;
}

/* --FINE PAGINA BLOG-- */

@media only screen and (min-width: 320px) and (max-width: 480px) {

.tab-bar{
  display: block;
}

header {
  display: none;
}

.archivio-film img {
  height: auto;
  background-size: content;
  width: 100%;
}
.archive-img img {
  display: none;
}
.archivio-pg h2 {
  margin-top: 15px;
}

.archivio-film h3, .sezione-film h3 {
  margin-bottom: 5px;  
}

.archivio-film h5 {
  display: none;
}

.layout-film, .sezione-film{
  height: 200px;  
  overflow: hidden;
  margin-bottom: 10px;
}

.tab-bar {
  height: 60px;
  display: block;
  background-color: rgba(0,0,0,0.8);
}

.left-off-canvas-menu {
  background-color: rgba(242,242,242,1);
  font-family: "Bebas Neue";
}

.tab-bar a img {
  height: 60px;
}

.left-small {
  border-right: none;
  padding: 10px;
}

.menu-main-menu-container {
  margin-left: -20px;
}

.off-canvas-list ul li a{
  color: rgba(80,80,80,1);
  border-bottom: none;
}

.off-canvas-list ul li {
  list-style-type: none;
}

.left-off-canvas-menu ul li a:hover {
  background-color: rgba(255,255,255,1);
  color: rgba(218,33,44,1);
}

ul.off-canvas-list li label{
  height: 60px;
  background-color: rgba(241,242,242,1);
}

ul.off-canvas-list li label img{
  height: 60px;
  margin-left: 20px;
  margin-top: -15px;
}

ul.off-canvas-list li label a:hover{
  background-color: rgba(242,242,242,1);
}

ul.off-canvas-list li label a{
  border-bottom: none;
}

.tabs {
  margin-top: -40px;
  width: 100%;
}

.tabs dd {
  background: rgba(243,33,36,1);
  padding: 0px 3.9% 0px 3.8%;
}

.tabs dd a {
  color: #fff;
}

.tabs dd a:hover {
  background: #fff;
}

.title-layout {
  height: 50px;  
}

.option-visual-page ul, .press-bg .option-visual-page ul  {
  margin-left: 0px;
}
.option-visual-page ul li, .press-bg .option-visual-page ul li {
  font-size: 13px;
  margin: 20px 0px 10px 0px;
  padding: 0px;
}
.option-visual-page .view-film, .press-bg .option-visual-page .view-film {
  margin-left: 0px;
  float: left;
}


.wpas-submit .content {
  width: 120px;

  width: 100%;

  height: 40px;
}

button.large, .button.large {
  padding-top: 10px;
}

.ricerca-bg {
  height: 320px;
}

.archivio-pg p {
  display: none;
}

.wp-advanced-search {
  margin-top: 10px;
}

#tax_category {
  height: 40px;
}

#search_query{
  height: 40px;
}

.social-icon img {
  display: none;
}

#main-menu {
  display: none;
}

.archive-img-smart img {
  display: inline-block;
}

/*SINGLE-FILM INIZIO*/
.attachment-post-thumbnail wp-post-image {
  max-width: 50%;
  min-height: 838px;
}

.content {
  display:none;
}

.tabs {
  display: none;
}

.slider-film-simili {
  display:none;
}

.altri-film {
  display:none;
}

.infofilm{
  display:none;
}

#durata{
  display:none;
}

.trama p{
  font-size:0.8em;
}

.content-film a{
  font-size:0.8em;
}

.footer{
  display:none;
}

.footerfooter h6{
  display:none;
}

.button.large{
  display:none;
}

.clearfix:after{
  display: none;
}


.pagination {
  margin-left: 15px;
}

footer .wrapper {
  margin-top: 80px;
}

#tax_category {
  width: 100%;
}

.info-footer h6{
  display: none;
}

.social-icon-footer {
  text-align: center;
  height: 30px;
}

}
