header {
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  top: 0;
  height: 135px;
}

#logo {
  height: 135px;
  line-height: 135px;
}

#main-menu ul li {
  display: inline-block;
  margin-right: 15px;
}

#main-menu a {
  color: rgba(255,255,255,1);
  line-height: 135px;
  height: 135px;
}

.slideshow-wrapper {
  width: 100%;
  min-height: 838px;
}

.slideshow {
  z-index: 0;
  margin-top: -30px; /* --DA CAMBIARE IL PRIMA POSSIBILE-- */
  position: relative;
}

.fotorama__nav-wrap {
  position: absolute;
  margin-top: -150px;
  z-index: 10;
}

.fotorama__caption__wrap {
  position: absolute;
  top: -675px;
  background: none;
  width: 100%;
}

.info-film h4 {
  color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
}


#info-date h4 {
  color: rgba(255,255,255,1);
}

#content h2{
  margin-top: 30px;
  margin-bottom: 10px;
}

#content ul li {
  display: inline-block;
  margin-top: 20px;
}

#content ul li p {
  margin-top: 10px;
}

#chi-siamo {
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

#chi-siamo h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.supporticons img {
  padding: 20px;
  max-height: 200px;
}

.supporticons h3 {
  padding-right: 25px;
  padding-bottom: 0;
  text-align: center;
}

.supporticons p{
  padding-bottom: 0;
}

#reparti a {
  margin-top: 50px;
}

#uscite {
  background-color: rgba(165,165,165,1);
}

#uscite h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#uscite h3 {
  text-align: center;
}

#uscite p {
  margin-top: 10px;
}

#archivio h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

select {
  -webkit-appearance: none !important;
  background: #fafafa;
  background-position-x: 97%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#archivio {
  margin-top: 100px;
}

#archivio .button {
  margin-top: 20px;
}

#archivio h5 {
  text-align: center;
  font-weight: bold;
}

#archivio img {
  margin-bottom: 5px;
}

#archivio h6 {
  line-height: 0.8;
}

#scuole {
  margin-top: 100px;
}

#scuole h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#scuole img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#scuole .film{
  width: 100%;
}

#press {
}

#press h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#social {
}

#social h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#social h3 {
  text-align: center;
}

#social .activity {
  width: 100%;
}

#social img {
  margin: 22px;
  width: 15%;
}

#contatti h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#contatti img {
  width: 100%;
  border: 10px solid rgba(50,50,50,1);
}

#contatti p {
  margin-top: 20px;
}

footer {
  background-color: rgba(50,50,50,1);
}

footer h1 {
  color: rgba(255,255,255,1);
  text-align: center;
  margin: 20px;
}

footer .button {
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,1);
  margin-left: 445px;
}

footer p {
  padding: 20px;
  text-align: center;
  color: rgba(200,200,200,1);
  font-size: 75%;
}


.press {
  margin-top: 100px;
}

.press h1 {
  text-align: center;
}



.trade {
  margin-top: 100px;
}

.trade h1 {
  text-align: center;
}

.film-uno {
  margin-top: 150px;
}

.film-uno .button {
  width: 100%;
}

.film-ondemand {
  margin-top: 100px;
}

.film-ondemand h1 {
  text-align: center;
}

.film-ondemand .cal {
  width: 90%;
}